.bgDiv {
  background-color: #181818;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.left,
.center,
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}

.right > a {
  color: #ffffff;
}

.left > i,
.center > i {
  color: #ffcc4a;
}

@media screen and (max-width: 768px) {
  .flexDiv {
    justify-content: space-between;
    gap: 0px;
  }

  .flexDiv > .right {
    display: none;
  }

  .flexDiv > .left {
    font-size: 12px;
  }

  .flexDiv > .center {
    font-size: 12px;
  }
}
