.flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  align-items: center;
  padding: 3rem 0;
}

.flexDiv > .topP {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 0 0.4rem;
  border-radius: 2rem;
  width: fit-content;
  background-color: #4eaf4e;
}

.flexDiv > h3 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
  width: 50%;
}

.flexDiv > .bottomP {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #595566;
  width: 59%;
}

.mediaDiv {
  width: 100%;
  position: relative;
  margin-top: 1.5rem;
}

.mediaDiv > .cube {
  background-color: #4eaf4e;
  padding: 5rem;
  border-radius: 1rem;
  position: absolute;
  width: fit-content;
  bottom: -20px;
  left: 90px;
  z-index: -1;
}

.mediaDiv > img {
  position: absolute;
  top: -20px;
  right: 90px;
  width: 15%;
  z-index: -1;
}

.mediaDiv > iframe {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: calc(0.5625 * 40vw);
  border-radius: 1rem;
}

@media screen and (max-width: 1200px) {
  .mediaDiv > .cube {
    bottom: -15px;
    left: 70px;
  }

  .mediaDiv > img {
    top: -15px;
    right: 75px;
  }
}

@media screen and (max-width: 992px) {
  .flexDiv > .topP {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 40px;
    line-height: 42px;
    width: 70%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 23px;
    width: 89%;
  }

  .mediaDiv > .cube {
    bottom: -15px;
    left: 50px;
    padding: 4rem;
  }

  .mediaDiv > img {
    top: -15px;
    right: 55px;
  }
}

@media screen and (max-width: 768px) {
  .flexDiv > .topP {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 30px;
    line-height: 40px;
    width: 70%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 20px;
    width: 95%;
  }

  .mediaDiv > iframe {
    width: 100%;
    height: calc(0.5625 * 50vw);
  }

  .mediaDiv > .cube {
    bottom: -15px;
    left: -15px;
    padding: 4rem;
  }

  .mediaDiv > img {
    top: -15px;
    right: -15px;
    width: 20%;
  }
}

@media screen and (max-width: 576px) {
  .flexDiv > .topP {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 30px;
    line-height: 40px;
    width: 90%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 20px;
    width: 95%;
  }

  .mediaDiv > iframe {
    width: 90%;
    height: calc(0.5625 * 70vw);
  }

  .mediaDiv > .cube {
    bottom: -10px;
    left: 5px;
    padding: 2rem;
  }

  .mediaDiv > img {
    top: -10px;
    right: 5px;
    width: 25%;
  }
}
