.flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  align-items: center;
  padding: 3rem 0;
}

.flexDiv > .topP {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 0 0.4rem;
  border-radius: 2rem;
  width: fit-content;
  background-color: #4eaf4e;
}

.flexDiv > h3 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
  width: 50%;
}

.flexDiv > .bottomP {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #595566;
  width: 59%;
}

.flexDiv > .mediaDiv {
  position: relative;
  margin: 3rem 0;
}

.mediaDiv > iframe {
  border-radius: 1rem;
}

.mediaDiv > img {
  position: absolute;
  right: -40px;
  top: -25px;
  z-index: -1;
  width: 30%;
}

.mediaDiv > .mediaCube {
  padding: 4rem;
  background-color: #4eaf4e;
  border-radius: 1rem;
  position: absolute;
  bottom: -20px;
  left: -25px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .flexDiv > .topP {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 40px;
    line-height: 42px;
    width: 70%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 23px;
    width: 89%;
  }
}

@media screen and (max-width: 768px) {
  .flexDiv > .topP {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 30px;
    line-height: 40px;
    width: 70%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 20px;
    width: 95%;
  }

  .mediaCube {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: static;
  }

  .mediaCube > iframe {
    width: 150%;
    border-radius: 2rem;
  }

  .mediaDiv > img {
    display: none;
  }

  .mediaDiv > .mediaCube {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .flexDiv > .topP {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 0 0.4rem;
  }

  .flexDiv > h3 {
    font-size: 30px;
    line-height: 40px;
    width: 90%;
  }

  .flexDiv > .bottomP {
    font-size: 14px;
    line-height: 20px;
    width: 95%;
  }

  .mediaDiv {
    display: none;
  }
}