.firstDiv {
  padding: 2rem 0;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.flexDiv:hover .one {
  background-color: #4eaf4e;
  color: #f6f6f6;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.left > h1 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
}

.left > .one {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-radius: 2rem;
  background-color: #ffcc4a;
  color: #181818;
  width: fit-content;
  padding: 0.3rem 1rem;
  transition: 0.4s ease-in-out;
}

.left > .twoP {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #181818;
}

.left > .thee {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595566;
}

.flexDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.topLine {
  width: 100%;
  height: 0px;
  border: 1px solid #d8d8d8;
}

.line {
  width: fit-content;
  padding: 0rem 0.5rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.leftDiv > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #181818;
}

.starDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  padding: 0 3rem;
}

.starDiv > p {
  font-family: Cabin;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #181818;
}

.starDiv > .star {
  color: #ffcc4a;
  font-size: 22px;
}

.starDiv > .smile {
  color: #4eaf4e;
  font-size: 22px;
}

.centerLine {
  border: 1px solid #d8d8d8;
  width: 0px;
  height: 60px;
}

.bottomLine {
  width: 100%;
  border: 1px solid #d8d8d8;
}

.right {
  width: 100%;
  position: relative;
}

.index1 {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 40%;
}

.index2 {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 10%;
  width: 90%;
  border-radius: 2rem;
}

.index3 {
  position: absolute;
  z-index: 3;
  bottom: 6%;
  left: 5%;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: -5px 22px 26px 0px #5f5f5f40;
}

@media screen and (max-width: 992px) {
  .firstDiv {
    padding: 3rem 0 5rem 0;
  }

  .left {
    text-align: center;
    align-items: center;
  }

  .right {
    display: none;
  }

  .topLine,
  .bottomLine {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .left {
    gap: 1rem;
  }

  .left > .one {
    font-size: 10px;
    padding: 0.1rem 0.5rem;
  }

  .left > h1 {
    font-size: 25px;
    width: 90%;
    line-height: 25px;
  }

  .left > .twoP {
    width: 90%;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
  }

  .left > .thee {
    width: 90%;
    font-size: 20px;
  }

  .starDiv {
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
  }

  .starDiv > p {
    font-size: 18px;
  }

  .starDiv > .star,
  .starDiv > .smile {
    font-size: 15px;
  }
}
