.bg {
  background-color: #f5f5f5;
  padding: 3rem 0;
}

.dataAndTextFlex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 17rem;
}

.left1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
}

.left1 > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  background-color: #4eaf4e;
  border: none;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  width: fit-content;
}

.left > h2 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
}

.right1 > a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: #181818;
  background-color: #ffcc4a;
  padding: 0.9rem 1rem;
  border-radius: 1rem;
  border: none;
  transition: 0.5s ease-in-out;
  width: fit-content;
}

.right1 > a:hover {
  background-color: transparent;
}

.flex2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.left2 {
  width: 450px;
  height: 220px;
  padding: 1rem 0;
  position: relative;
}

.dataFlex1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text {
  width: 410px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text > h3 {
  font-family: Cabin;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  color: #181818;
}

.text > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595566;
}

.lineDiv {
  border: 1px solid #c1c1c1;
  width: 100%;
}

.smallInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.smallInfo > p {
  color: #595566;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.smallInfo > img {
  border-radius: 50%;
}

.smallBorder {
  border: 1px solid #c1c1c1;
  height: 10px;
}

.smallInfo > a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: #f5f5f5;
  background-color: #181818;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  width: fit-content;
  transition: 0.3s ease-in-out;
}

.smallInfo > a:hover {
  color: #181818;
  background-color: #f5f5f5;
}

@media screen and (max-width: 992px) {
  .flex2 {
    flex-direction: column;
  }

  .flex1 {
    gap: 0;
    justify-content: space-between;
  }

  .left1 {
    width: fit-content;
  }

  .right1 {
    width: fit-content;
  }

  .left2 {
    width: 450px;
    height: 300px;
    position: relative;
  }

  .left1 > h2 {
    font-size: 20px;
  }

  .text > h3 {
    font-size: 25px;
  }

  .dataFlex1 {
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  .smallInfo {
    gap: 1rem;
    justify-content: space-between;
  }

  .smallInfo > img {
    width: 10%;
  }

  .smallInfo > p {
    font-size: 13px;
  }

  .smallInfo > a {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .left2 {
    display: none;
  }

  .dataFlex1 {
    width: 95%;
  }
  .lineHide {
    display: none;
  }

  .left1 > p {
    font-size: 10px;
  }

  .left1 > h2 {
    font-size: 20px;
    width: 70%;
  }

  .right1 {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .left1 > p {
    font-size: 5px;
    padding: 0.1rem 0.7rem;
  }

  .left1 > h2 {
    font-size: 15px;
    width: 100%;
  }

  .left1 {
    width: 65%;
  }

  .right1 {
    width: 35%;
  }

  .right1 > a {
    font-size: 15px;
  }

  .dataFlex1 {
    width: 100%;
  }

  .text {
    width: 99%;
  }

  .text > h3 {
    font-size: 20px;
  }

  .text > p {
    font-size: 15px;
    line-height: 20px;
  }

  .smallInfo {
    gap: 0rem;
  }

  .smallInfo {
    width: 99%;
  }

  .smallInfo > img {
    width: 8%;
  }

  .smallInfo > p {
    font-size: 11px;
  }

  .smallInfo > a {
    font-size: 11px;
    padding: .2rem .9rem;
  }
}
