.paddingDiv {
  padding: 2rem 0;
}

.paddingDiv:hover .firstP {
  background-color: #ffcc4a;
  color: #181818;
}

.firstP {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  border-radius: 2rem;
  background-color: #4eaf4e;
  width: fit-content;
  padding: 0 0.5rem;
  color: white;
  margin: 1rem 0;
  transition: 0.4s ease-in-out;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightDiv {
  width: 100%;
}

.h3Div > h3 {
  font-family: Cabin;
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
}

.pDiv > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #595566;
  width: 90%;
}

.flexDiv2 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.topVariant,
.bottomVariant {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
  align-items: start;
}

.topVariant > i,
.bottomVariant > i {
  color: #4eaf4e;
  font-size: 26px;
}

.topVariant > p,
.bottomVariant > p {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #595566;
  width: 80%;
}

.rightDiv {
  position: relative;
}

.paddingDiv:hover .index2 {
  background-color: #ffcc4a;
}

.rightDiv > .index1 {
  position: absolute;
  z-index: -1;
  top: -45px;
  right: 50px;
}

.rightDiv > .index2 {
  position: absolute;
  top: -20px;
  right: 70px;
  background-color: #4eaf4e;
  padding: 4rem 4rem;
  border-radius: 1rem;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.rightDiv > .index3 {
  border-radius: 2rem;
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .rightDiv > .index1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    right: 50px;
  }

  .rightDiv > .index2 {
    position: absolute;
    top: -20px;
    right: 90px;
    background-color: #4eaf4e;
    padding: 4rem 4rem;
    border-radius: 1rem;
    z-index: -1;
  }

  .rightDiv > .index3 {
    border-radius: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .rightDiv > .index1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    right: 50px;
  }

  .rightDiv > .index2 {
    position: absolute;
    top: -20px;
    right: 70px;
    background-color: #4eaf4e;
    padding: 4rem 4rem;
    border-radius: 1rem;
    z-index: -1;
  }

  .rightDiv > .index3 {
    border-radius: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .flexDiv {
    flex-direction: column;
    gap: 5rem;
  }

  .h3Div > h3 {
    font-family: Cabin;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    color: #181818;
  }

  .pDiv > p {
    font-family: Lato;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    color: #595566;
    width: 90%;
  }

  .topVariant > i,
  .bottomVariant > i {
    color: #4eaf4e;
    font-size: 30px;
  }

  .topVariant > p,
  .bottomVariant > p {
    font-family: Cabin;
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;
    color: #595566;
    width: 80%;
  }

  .rightDiv {
    text-align: center;
  }

  .rightDiv > .index3 {
    border-radius: 2rem;
    width: 90%;
  }

  .rightDiv > .index1 {
    position: absolute;
    z-index: -1;
    top: -45px;
    right: -5px;
  }

  .rightDiv > .index2 {
    position: absolute;
    top: -20px;
    right: 10px;
    background-color: #4eaf4e;
    padding: 4rem 4rem;
    border-radius: 1rem;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  .firstP {
    font-size: 13px;
  }

  .rightDiv {
    display: none;
  }

  .h3Div > h3 {
    font-size: 35px;
  }

  .pDiv > p {
    font-size: 16px;
  }

  .topVariant > i,
  .bottomVariant > i {
    font-size: 20px;
  }

  .topVariant > p,
  .bottomVariant > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .paddingDiv {
    width: 90%;
  }

  .firstP {
    font-size: 11px;
  }

  .flexDiv {
    flex-direction: column;
    margin: 0 auto;
  }

  .leftDiv {
    margin: 0 auto;
  }

  .rightDiv {
    display: none;
  }

  .h3Div > h3 {
    font-size: 35px;
    line-height: 35px;
    width: 100%;
  }

  .pDiv > p {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }

  .topVariant > i,
  .bottomVariant > i {
    color: #4eaf4e;
    font-size: 20px;
  }

  .topVariant > p,
  .bottomVariant > p {
    font-size: 16px;
    width: 100%;
  }
}
