.bgDiv {
  background-image: url("/ServicesPageImage/ServicesImages.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
  background-position: center;
}

.marginDiv {
  padding-top: 4.9rem;
  background-color: #181818;
}

.firstBgDiv {
  background-color: #f5f5f5a5;
}

/* Two component */

.flexDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  width: 55%;
  padding: 4rem 1rem;
}

.flexDiv > h3 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
}

.flexDiv > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #595566;
}

@media screen and (max-width: 992px) {
  .bgDiv {
    padding: 2rem 0;
    background-position: center;
  }

  .marginDiv {
    padding-top: 4.5rem;
    background-color: #181818;
  }

  .flexDiv {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .bgDiv {
    padding: 2rem 0;
    background-position: center;
  }

  .marginDiv {
    padding-top: 4.5rem;
    background-color: #181818;
  }
}

@media screen and (max-width: 576px) {
  .flexDiv > h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
  }

  .flexDiv > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
